.container{
  height: 100vh;
  border: 1px solid red;
  justify-content: center;
  align-items: center;
 display: flex;
}
.container2{
  border: 3px solid blue;
  height: 150px;
  width: auto;
  justify-content: center;
  align-items: center;

}
.inputbtn{
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  height: 120px;
}
.buttons{
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 30px;
 
}
.btn{
  height: 30px;
  width: 60px;
  border: 1px solid rgb(16, 20, 218);
  border-radius: 10px;
}
  .input{
    height: 50px;
    border: 2px solid blue;
    border-radius: 10px;
  }